@page "/MyFirstBlazorPage"
@using BlazorLaunch.Components

@*這裡可以撰寫 HTML 相關標記*@
<h3>MyFirstBlazorPage</h3>

<SubComponent1 />

<SubComponent2 />

@code {
    // 頁面要加@page ，子元件不需要加，頁面檔名習慣加XXXPage.razor以區分
    // 練習 https://gist.github.com/vulcanlee/ccfce68ff963380bdb0387ea61eb0666
    // 執行網址 http://localhost:5163/MyFirstBlazorPage


}
